.triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.tl-question {
    border-right: 20px solid #155e75;
}

.tl-answer {
    border-right: 20px solid #1e40af;
}